<%- include("partials/header"); -%>

<h1> <%= bodyTitle %> </h1>
<p> <%= paraContent %> </p>

<% posts.forEach(function(post){ %>
<h1> <%= post.title %> </h1>
<p>
  <%= post.body.substring(0, 100) + " ..." %>
  <a href="/posts/<%= post.title %>">Read More</a> 
</p>
<% }); %>

<%- include("partials/footer"); -%>
